<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839181180751-mjecdd8esc7ftap4o1ipua9pdpsb877b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839181180751-mjecdd8esc7ftap4o1ipua9pdpsb877b</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBdpgB1B5Jh1oNh4WStoV2B9013nyWyY</string>
	<key>GCM_SENDER_ID</key>
	<string>839181180751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.cookoff.cookoff</string>
	<key>PROJECT_ID</key>
	<string>pomegranate-catfish</string>
	<key>STORAGE_BUCKET</key>
	<string>pomegranate-catfish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839181180751:ios:da7e2d66db1903f3</string>
	<key>DATABASE_URL</key>
	<string>https://pomegranate-catfish.firebaseio.com</string>
</dict>
</plist>
